section#services {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../assets/img/photos/024 Patrycja Pieczara 26-10-2018.jpg");
    background-position: center center;
    background-size: cover;

    h2, h4,
    p.text-muted {
        color: rgb(230, 230, 230);
    }
    p.text-muted {
        color: rgb(230, 230, 230) !important;
    }
}

